<form {{action 'submit' on='submit'}} class='row'>
  {{input class='col-xs-12' type='text' value=signup.username placeholder='username' autofocus=true required=true}}
  {{input class='col-xs-12' type='email' value=signup.identification placeholder='email' required=true}}
  {{input class='col-xs-12' type='password' value=signup.password placeholder='password' required=true}}
  <button class='col-xs-5 col-xs-offset-7 btn-primary' type='submit'>create account</button>
</form>
