<form {{action 'submit' on='submit'}}>
  {{input type='text' value=signup.username placeholder='username'}}
  {{input type='email' value=signup.identification placeholder='email'}}
  {{input type='password' value=signup.password placeholder='password'}}
  <button type='submit'>submit</button>
</form>
