<form {{action 'submit' on='submit'}} class='row'>
  {{input class='col-xs-8' type='text' value=body placeholder='comment'}}
  <button class='submitComment col-xs-4 btn-primary' type='submit'>comment</button>
</form>
