& {
  @include zen-new-row();
  @include zen-grid-item(12, 1);
}

.post {
  @include zen-new-row();
  @include zen-grid-item(12, 1);
}

.post-body {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.post-footer {
  @include zen-grid-item(12, 1);
  text-align: right;
}

.img-holder {
  max-width: 4rem;
}

.img-placeholder {
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: .2rem solid $c1;
}

.username {
  font-size: .7rem;
}

.activity {
  font-size: .5rem;
}

.body {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.comment-count {
  font-size: .5rem;
  cursor: pointer;
  text-align: right;
}

.comments {
  @include zen-new-row();
  padding-top: 1rem;
}
.comment {
  &:nth-child(even) {
    background-color: fade-out($c1, .9)
  }
}
