& {
  border: 0.1rem #ccc solid;
  border-radius: $border-radius;
  &.focus {
    border-color: $c1;
    .toolbar {
      border-bottom-color: $c1;
    }
  }
}

.ql-editor {
  font-size: 1rem;
  min-height: 20vh;
  max-height: 50vh;
}

.toolbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: .1rem solid #ccc;
  span {
    cursor: pointer;
  }
}


.editor {
}
