.header-row {
  border-bottom: .2rem solid $c1;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: $font-main-light;
}

li {
  list-style: none;
}

.sort {
  cursor: pointer;
}

.not-active {
  text-decoration: underline;
  color: $c1;
}
