<ul class='row'>
  {{#each sortedPosts as |post|}}
    <li class='col-xs-12'>
      {{post-show
        post=post
        author=post.user.username
        updatedAt=post.updatedAt
        body=post.body
        comments=post.comments
      }}
    </li>
  {{/each}}
</ul>
