<form {{action 'submit' on='submit'}} class='row'>
  {{textarea value=post.body placeholder='type here' autofocus=true required=true}}
  <button class='submitPost btn-primary' type='submit'>post</button>
</form>
{{yield}}
