<ul>
  {{#each sortedPosts as |post|}}
    <li>
      {{post-show
        post=post
        author=post.user.username
        updatedAt=post.updatedAt
        body=post.body
        comments=post.comments
      }}
    </li>
  {{/each}}
</ul>
