$font-main: #545454;
$font-main-light: #808080;
$font-secondary: #FFF5DD; //255 245 221
$c1: #63A69F; //99 166 159
$c2: #F2E1AC; //242 225 172
$c3: #F2836B; //242 131 107
$c4: #F2594B; //242 89 75
$c5: #CD2C24; //205 44 36
