$c1: #63A69F; //greenish
//$c2: #F2E1AC; beige
$c2: #FFF;
$c3: #F2836B; //light red
$c4: #F2594B; //darker red
$c5: #CD2C24; //darkest red

$font-main: #545454;
$font-main-light: #808080;
$font-secondary: #FFF5DD;
