.alert {
  padding: 1rem;
  @include zen-new-row();
  @include zen-grid-item(12, 1);
}

.alert-success {

}

.alert-warning {
  color: $c5;
  &:before {
   content: '☠'
  }
}

.alert-info {

}

.alert-secondary {

}
