$border-radius: .2rem;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline-width: 0;
  //background-color: rgba(0,0,0,.1);
}

html, body {
  color: $font-main;
  background-color: $c2;
}

ul {
  margin: 0;
  padding: 0
}


h1, h2, h3, h4, h5 {
  margin: 0;
}

a {
  color: $font-main;
  text-decoration: none;
  &:link, &:visited, &:hover, &:active {
    color: $font-main;
    text-decoration: none;
  }
}

::selection {
  background-color: $c1;
}


input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-width: 0;
  background-color: $c2;
  border-bottom: .1rem #ccc solid;
  &:focus {
    border-bottom-color: $c1;
  }
  &::placeholder {
    color: #ccc;
  }
}

button {
  padding: .5rem;
  border-radius: $border-radius;
  border-width: 0;
  &:focus {
    outline-width: 0;
  }
  &:active {
    background-color: #f5f5f5;
    box-shadow: .05rem -.05rem #ccc;
  }
}

.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-primary {
  color: $font-secondary;
  background-color: $c3;
  box-shadow: 0 0.1rem 0 .05rem $c5;
  text-shadow: 0.1rem 0.1rem $c5;
  &:hover {
    text-shadow: 0.1rem 0.1rem $c5;
  }
  &:active {
    background-color: $c4;
    box-shadow: 0 0.05rem 0 .05rem $c5;
    text-shadow: -.05rem .05rem $c5;
  }
}
