<form {{action 'submit' on='submit'}} class='row'>
  {{input class='col-xs-12' type='text' value=post.title placeholder='title' autofocus=true required=true}}
  {{quill-editor value=post.body}}
  <button class='submitPost col-xs-5 col-xs-offset-7 btn-primary' type='submit'>post</button>
</form>
{{yield}}
