<ul>
{{#if session.isAuthenticated}}
  <li>{{link-to 'posts' 'posts'}}</li>
  <li>{{#logout-button}}logout{{/logout-button}}</li>
{{else}}
  <li>{{link-to 'login' 'login'}}</li>
  <li>{{link-to 'signup' 'signup'}}</li>
{{/if}}
</ul>
