<form {{action 'authenticate' on='submit'}}>
  {{input type='email' value=identification placeholder='email' autofocus=true required=true}}
  {{input type='password' value=password placeholder='password' required=true}}
  <button class='btn-primary' type='submit'>log in</button>
</form>
