& {
  border-bottom: .1rem solid $c1;
  &:hover {
    background-color: fade-out($c1, .9)
  }
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.username {
  font-size: .7rem;
}

.post-title {
}

.activity {
  font-size: .5rem;
}

.body {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.comments {
  font-size: .5rem;
}
