& {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: .1rem solid $c1;
  &.closed:hover {
    .header {
      background-color: $c1;
      color: $c2;
    }
  }
  &.open {
    .header {
      background-color: $c1;
      color: $c2;
    }
  }
}

.header {
  cursor: pointer;
}

.username {
}

.post-title {
}

.activity {
}

.body {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.comments {
  background-color: $gray;
}

.count {
  font-size: .6rem;
}
