<div class='col-xs-12'>
  <div class='row header'>
    <span class='username col-xs-3 center-xs middle-xs'>{{author}}</span>
    <h4 class='post-title col-xs-9 middle-xs'>{{title}}</h4>
  </div>
  <div class='row end-xs'>
    <span class='comments col-xs-3'>{{pluralize-word comments.length 'comment'}}</span>
    <span class='activity col-xs-3'>{{moment-from-now updatedAt}}</span>
  </div>
</div>
