<div>
  {{main-nav}}

  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}

  {{outlet}}

  {{#if session.isAuthenticated}}
    <div class='logged-in-as'>
      <span>
        hello, {{session.currentUser.username}}.
      </span>
    </div>
  {{/if}}
</div>
